.button-wrapper
{
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:2vw;
    height:4vw;
     width:4vw;
     border-radius: 50%;
     border: .5vw solid rgb(34, 226, 233) ;
     color:rgb(34, 226, 233) ;
     background-color:black;

}
.button-wrapper:hover{
    transition:0.3s;
    color:white;
    border: .5vw solid white;
     background-color: #00ff00;

}